<h1 style='color: green; font-size: 36px; font-weight: bold;'>Projeto de Regressão Linear</h1>

# <font color='red' style='font-size: 30px;'>Estimando um Modelo de Regressão Linear para o Consumo</font>
<hr style='border: 2px solid red;'>


**Objetivo notebook**

O objetivo desse notebook é construir alguns modelos de `Regressão Linear`.

# Regresão Linear
<hr>

<p style='font-size: 20px; line-height: 2; margin: 10px 50px; text-align: justify;'>A análise de regressão diz respeito ao estudo da dependência de uma variável (a variável <b>dependente</b>) em relação a uma ou mais variáveis, as variáveis explanatórias, visando estimar e/ou prever o valor médio da primeira em termos dos valores conhecidos ou fixados das segundas.</p>

## Importando bibliotecas

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
%matplotlib inline

## Leitura dos dados

In [5]:
dados = pd.read_csv('../Data/Consumo_cerveja.csv', sep=';')
dados.head(5)

         data  temp_media  temp_min  temp_max  chuva  fds  consumo
0  01/01/2015       27.30      23.9      32.5    0.0    0    25461
1  02/01/2015       27.02      24.5      33.5    0.0    0    28972
2  03/01/2015       24.82      22.4      29.9    0.0    1    30814
3  04/01/2015       23.98      21.5      28.6    1.2    1    29799
4  05/01/2015       23.82      21.0      28.3    0.0    0    28900

## Criando os datasets de treino e de teste

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
y = dados['consumo']
X = dados[['temp_max', 'chuva', 'fds']]

In [11]:
X_train, X_teste, y_train, y_teste = train_test_split(X, y, test_size=0.3, random_state=42)

print(f'Tamanho do conjunto de treino: {X_train.shape}')
print(f'Tamanho do conjunto de teste: {X_teste.shape}')

Tamanho do conjunto de treino: (255, 3)
Tamanho do conjunto de teste: (110, 3)

In [12]:
X_train.head(5)

     temp_max  chuva  fds
268      24.9   28.6    1
231      19.6    0.0    0
157      26.2    0.0    1
19       35.6    0.6    0
147      23.2    1.8    0

## Importando *LinearRegression* e *metrics* da biblioteca *scikit-learn*

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics